<ion-header>
  <ion-navbar>
    <ion-title>
      About us
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-list-header>Gmap App</ion-list-header>
    <ion-item>
      
      gmaps is a hybrid app which shows you some points of interest. If you click in one of it you will see further details.
    </ion-item>
  </ion-list>
</ion-content>
