<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="" tabIcon="albums"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="" tabIcon="navigate"></ion-tab>
</ion-tabs>
