<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
<ion-header>
  <ion-navbar>
    <ion-title>Καταστήματα</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <agm-map [latitude]="lat" [longitude]="lng" [zoom]="14">
    <agm-marker [latitude]="lat1" [longitude]="lng1" #m1>
      <agm-snazzy-info-window [maxWidth]="200" [closeWhenOthersOpen]="true" (isOpenChange)="changeIcon($event,m1)">
        <ng-template>
          <div>
            <p class="bold">Jumbo Πειραιά<span class="open">ΑΝΟΙΧΤΟ</span></p>
            <p><i class="fas fa-map-marked-alt"></i>34ου Συντάγμ. Πεζικού 23<span class="bold distance">0.1χλμ</span></p>
            <p>Εκτ. Χρ. Αναμονής:<span class="bold">22 λεπτά</span></p>
            <hr/>
            <p class="last"><a class="link" href="javascript:void(0)">ΛΕΠΤΟΜΕΡΕΙΕΣ ΚΑΤΑΣΤΗΜΑΤΟΣ</a></p>
          </div>
        </ng-template>
      </agm-snazzy-info-window>
    </agm-marker>
    <agm-marker [latitude]="lat2" [longitude]="lng2">
      <agm-snazzy-info-window [maxWidth]="200" [closeWhenOthersOpen]="true" (isOpenChange)="changeIcon($event,m1)">
        <ng-template>
          <div>
            <p class="bold">Jumbo Παλαιού Φαλήρου<span class="open">ΑΝΟΙΧΤΟ</span></p>
            <p><i class="fas fa-map-marked-alt"></i>Μωραϊτίνη 3, Παλαιό Φάληρο 175 61<span class="bold distance">1.1χλμ</span></p>
            <p>Εκτ. Χρ. Αναμονής:<span class="bold">30 λεπτά</span></p>
            <hr/>
            <p class="last"><a class="link" href="javascript:void(0)">ΛΕΠΤΟΜΕΡΕΙΕΣ ΚΑΤΑΣΤΗΜΑΤΟΣ</a></p>
          </div>
        </ng-template>
      </agm-snazzy-info-window>
    </agm-marker>
    <agm-marker [latitude]="lat3" [longitude]="lng3">
      <agm-snazzy-info-window [maxWidth]="200" [closeWhenOthersOpen]="true" (isOpenChange)="changeIcon($event,m1)">
        <ng-template>
          <div>
            <p class="bold">Jumbo Πειραιά<span class="open">ΑΝΟΙΧΤΟ</span></p>
            <p><i class="fas fa-map-marked-alt"></i>Αγίου Διονυσίου 5, Πειραιάς 185 45<span class="bold distance">2.5χλμ</span></p>
            <p>Εκτ. Χρ. Αναμονής:<span class="bold">34 λεπτά</span></p>
            <hr/>
            <p class="last"><a class="link" href="javascript:void(0)">ΛΕΠΤΟΜΕΡΕΙΕΣ ΚΑΤΑΣΤΗΜΑΤΟΣ</a></p>
          </div>
        </ng-template>
      </agm-snazzy-info-window>
    </agm-marker>
  </agm-map>
</ion-content>
