page-home {
  agm-map {
    height: 100%;
  }
}
.toolbar-title{
  color: #fff;
  text-align: center;
}
.toolbar-background{
  background: #0c6db2;
  text-align: center;
}
.si-float-wrapper{
  position: absolute;
  width: 90%;
  bottom: 10px;
  margin: 0 auto;
}
.si-wrapper-top{
  position: absolute !important;
  width:90vw !important;
  height: 40vh;
}
.si-content-wrapper{
  border-top: 5px solid rgb(230,36,0) !important;
}
.si-content{
  max-width: 100% !important;
  max-height: 100% !important;
  p{
    font-size: 17px;
    padding-bottom: 7px;
  }
  p:first-of-type{
    font-size: 19px;
  }
  p.last{
    text-align: center;
    font-size: 20px;
    color:lightseagreen;
  }
  .link{
    text-decoration: none;
  }
  span.open{
    background-color: greenyellow;
    float: right;
    padding: 2px;
    border-radius: 2px;
  }
  i{
    padding-right: 15px;
  }
  .distance{
    float: right;
  }
}
.bold{
  font-weight: bold;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

@media (max-width: 600px) {
  .si-wrapper-top{
    height: 50vh !important;
  }
}
